.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.btn{
    width: 116px;
    height: 52px;
    background-color: white;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px 50px 0px;
}
.container{
    max-width: 1300px;
    margin: auto;
}
.btn2{
    width: 270px;
    height: 56px;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 18px;
}
.second{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    border-radius: 24px;
    margin: auto;
    align-items: center;
    background-color: #C6E4D6;
    padding: 80px 60px 80px 60px;
}
.four{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 80px;
}
.btn3{
    width: 122px;
    height: 41px;
    border: none;
    border-radius: 8px;
    background-color: #5490F5;
    color: white;
}
.blue{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 33px 0px 0px 33px;
    height: 270px;
    width: 341px;
    border-radius: 16px;
}
.green{
    background-color: #C6E4D6;
    padding: 33px 0px 0px 33px;
    height: 270px;
    width: 341px;
    border-radius: 16px;
}
.yellow{
    background-color: #F7EBCF;
    padding: 33px 0px 0px 33px;
    height: 270px;
    width: 341px;
    border-radius: 16px;
}

.thr{
    display: flex;
    justify-content: center;
    gap: 85px;
    margin: 40px 0px 100px 0px;
}


